@model cloudscribe.Pagination.Models.PagedResult<Cities>

@{
    ViewData["Title"] = "Cities";
}
@if (TempData["AlertMessage"] != null)
{
    <div id="alert" class="alert alert-success position-relative">
        <div id="close" class="position-absolute fixed-top">X</div>
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}
<div class="sticky-top titleFixed pb-1">
    <h1>City</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <table id="city" class="table table-bordered table-striped w-auto">
            <thead>
                <tr>
                    <th>City Name</th>
                    <th>Action Buttons</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Data) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityName)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

