@model Traffic_ASP_MVC.Models.Schedule

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.scheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.scheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberCartons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberCartons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mbolNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mbolNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loaderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loaderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carrierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadScheduler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadScheduler)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
