@model Traffic_ASP_MVC.Models.Schedule

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberCartons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberCartons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadCube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadCube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MbolNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MbolNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadScheduler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadScheduler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StageFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StageFinishTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-warning" asp-action="Index">Back to List</a>
    </form>
</div>
