@model Traffic_ASP_MVC.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="container">
    <form asp-action="Edit">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="ScheduleDate" class="control-label">Date</label>
                    <input type="text" asp-for="ScheduleDate" readonly class="form-control datepicker" />
                    <span asp-validation-for="ScheduleDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeSlot" class="control-label">Time Slot</label>
                    <input asp-for="TimeSlot" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option value="">Select Status</option>
                        <option value="Created" selected>Created</option>
                        <option value="Staged">Staged</option>
                        <option value="Loaded">Loaded</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type</label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberCartons" class="control-label"># Cartons</label>
                    <input asp-for="NumberCartons" class="form-control" />
                    <span asp-validation-for="NumberCartons" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadCube" class="control-label">Cube</label>
                    <input asp-for="LoadCube" class="form-control" />
                    <span asp-validation-for="LoadCube" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="MbolNbr" class="control-label">MBOL #</label>
                    <input asp-for="MbolNbr" class="form-control" readonly/>
                    <span asp-validation-for="MbolNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadNbr" class="control-label">Load #</label>
                    <input asp-for="LoadNbr" class="form-control" readonly />
                    <span asp-validation-for="LoadNbr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoaderName" class="control-label">Loader Name</label>
                    <input asp-for="LoaderName" class="form-control" />
                    <span asp-validation-for="LoaderName" class="text-danger"></span>
                </div>
            </div>
        </div>    
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CarrierName" class="control-label">Carrier Name</label>
                    @Html.DropDownListFor(n => n.CarrierName, ViewBag.Carrier as SelectList, "Select Carrier" , new {@class="form-control"})
                    <span asp-validation-for="CarrierName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label">Customer Name</label>
                    @Html.DropDownListFor(n => n.CustomerName, ViewBag.Customer as SelectList, "Select Customer" , new {@class="form-control"})
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerCity" class="control-label">City Name</label>
                    @Html.DropDownListFor(n => n.CustomerCity, ViewBag.City as SelectList, "Select City" , new {@class="form-control"})
                    <span asp-validation-for="CustomerCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CustomerState" class="control-label">State Name</label>
                    @Html.DropDownListFor(n => n.CustomerState, ViewBag.State as SelectList, "Select State" , new {@class="form-control"})
                    <span asp-validation-for="CustomerState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadComments" class="control-label">Comments</label>
                    <input asp-for="LoadComments" class="form-control" />
                    <span asp-validation-for="LoadComments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoadScheduler" class="control-label">Scheduler</label>
                    @Html.DropDownListFor(n => n.LoadScheduler, ViewBag.Coordinator as SelectList, "Select Scheduler" , new {@class="form-control"})
                    <span asp-validation-for="LoadScheduler" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label">Loader Name</label>
                    <input id="startTime" asp-for="StartTime" class="form-control"/>
                    <a id="start" class="btn btn-success">Set Start</a>
                </div>
                <div class="form-group">
                    <label asp-for="FinishTime" class="control-label">Finish Time</label>
                    <input id="finishTime" asp-for="FinishTime" class="form-control"/>
                    <a id="finish" class="btn btn-danger">Set Finish</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="TrailerNbr" class="control-label">Enter Trailer #</label>
                    <input id="trailerNbr" asp-for="TrailerNbr" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Location" class="control-label">Location</label>
                    @Html.DropDownListFor(n => n.Location, ViewBag.Doors as SelectList, "Select Location", new {@class="form-control"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mt-3 d-flex flex-column justify-content-end">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <br />
                    <a class="btn btn-warning" asp-action="Index">Back to List</a>
                </div>
            </div>            
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <a class="btn btn-secondary">Live to Dock</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-secondary">Spot to Dock</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>
      

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
