@model cloudscribe.Pagination.Models.PagedResult<Schedule>

@{
    ViewData["Title"] = "Schedule";
}
@if (TempData["AlertMessage"] != null)
{
    <div id="alert" class="alert alert-success position-relative">
        <div id="close" class="position-absolute fixed-top">X</div>
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<h1>Schedule</h1>

<div class="container-fluid table-responsive">
    <table id="schedule" class="display table table-bordered table-striped w-auto">
        <thead>
            <tr>
                <th><p>Actions</p></th>
                <th><p>Date</p></th>
                <th><p>Time Slot</p></th>
                <th><p>Status</p></th>
                <th><p>Type</p></th>
                <th><p># Cartons</p></th>
                <th><p>Cube</p></th>
                <th><p>MBOL #</p></th>
                <th><p>Load #</p></th>
                <th><p>Loader Name</p></th>
                <th><p>Carrier Name</p></th>
                <th><p>Customer Name</p></th>
                <th><p>City</p></th>
                <th><p>State</p></th>
                <th><p>Comments</p></th>
                <th><p>Scheduler</p></th>
                <th><p>Location</p></th>
                <th><p>Start Time</p></th>
                <th><p>Finish Time</p></th>
                <th><p>Stage Location</p></th>
                <th><p>Stager Name</p></th>
                <th><p>Stage Start</p></th>
                <th><p>Stage Finish</p></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Data) {       
            <tr>
                <td class="fit">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        @if (item.Status != "At Dock" && item.StageFinishTime != null)
                        {
                            <a class="btn btn-info btn-sm" asp-action="StageSheet" asp-route-id="@item.ID" target="_blank">Stage Sheet</a>    
                        }
                    @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberCartons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadCube)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MbolNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarrierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadScheduler)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StageLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StageStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StageFinishTime)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>


