@model Traffic_ASP_MVC.Models.DockLot

@{
    ViewData["Title"] = "View Details";
}

<h1>Details</h1>

<div>
    <h4>DockLot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carrierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carrierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailerNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailerNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loadNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loadNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mbolNbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mbolNbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeStamp)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
