@model cloudscribe.Pagination.Models.PagedResult<DockLot>

@{
    ViewData["Title"] = "Dock / Lot";
}
@if (TempData["AlertMessage"] != null)
{
    <div id="alert" class="alert alert-success position-relative">
        <div id="close" class="position-absolute fixed-top">X</div>
        <strong>Success !</strong> @TempData["AlertMessage"]
    </div>
}

<h1>Dock / Lot</h1>

<div class="container-fluid table-responsive">
    <table id="docklot" class="table table-bordered table-striped w-auto">
        <thead>
            <tr>
                <th><p>Action Buttons</p></th>
                <th><p>Location</p></th>
                <th><p>Carrier Name</p></th>
                <th><p>Trailer Status</p></th>
                <th><p>Trailer Number</p></th>
                <th><p>Dimension</p></th>
                <th><p>Trailer Comments</p></th>
                <th><p>Load Number</p></th>
                <th><p>MBOL Number</p></th>
                <th><p>Created</p></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Data) {
            <tr>
                <td>
                        @if ((item.Location == "Exit") || (item.Status == "LoadInProcess"))
                        {
                            <div></div>   
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.ID">Edit</a>    
                        }                    
                    <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarrierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrailerNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MbolNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
