@model cloudscribe.Pagination.Models.PagedResult<DockLot>

@{
    ViewData["Title"] = "Dock / Lot";
}
<div class="sticky-top titleFixed pb-1">
    <h1>Dock / Lot</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
</div>

<table id="docklot" class="table table-bordered table-striped w-auto">
    <thead>
        <tr>
            <th><h4>Action Buttons</h4></th>
            <th><h4>Location</h4></th>
            <th><h4>Carrier Name</h4></th>
            <th><h4>Trailer Status</h4></th>
            <th><h4>Trailer Number</h4></th>
            <th><h4>Dimension</h4></th>
            <th><h4>Trailer Comments</h4></th>
            <th><h4>Load Number</h4></th>
            <th><h4>MBOL Number</h4></th>
            <th><h4>Created</h4></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                @*<a class="btn btn-warning" asp-action="Details" asp-route-id="@item.ID">Details</a>*@
                @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarrierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MbolNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
        </tr>
}
    </tbody>
</table>
